body {
    margin: 0;
    font-size: 1vw;
    font-family: 'Martel Sans', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 'logo logo nav nav login login' 'main main main main main main' 'footer footer footer footer footer footer';
    background: linear-gradient(rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../src/img/film1.jpg);
    background-position: top center;
    background-attachment: fixed;
    transform: scale(1.06)
}

.grid-container-blur {
    display: grid;
    grid-template-areas: 'logo logo nav nav login login' 'main main main main main main' 'footer footer footer footer footer footer';
    background: linear-gradient(rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../src/img/film1.jpg);
    background-position: top center;
    background-attachment: fixed;
    transform: scale(1.06);
    filter: blur(10px);
}

#overflow-hack-for-image-blur {
    overflow: hidden;
}

.logo {
    grid-area: logo;
}

.logo, .nav, .login {
    background: rgb(250, 100, 100, 0.5);
    transition: background 0.7s linear;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav {
    grid-area: nav;
}

.nav ul li {
    list-style-type: none;
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.nav li a {
    position: relative;
    text-decoration: none;
    color: white;
}

.nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -2px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.login {
    grid-area: login;
}

.main {
    grid-area: main;
    min-height: 46rem;
}

.main img {
    padding-top: 10rem;
    width: 100%;
}

button {
    display: inline-block;
    border: 1px solid rgb(204, 34, 34);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    background-image: url(../src/img/sand.gif);
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
    color: white;
    cursor: pointer;
    font-size: 1vw;
}

button:hover {
    transition: 0.25s ease-in-out;
    border: 1px solid rgb(250, 105, 89);
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 3%;
  }

.main-button {
    width: 18%;
    padding: 1rem 3rem;
    margin: 0 5rem;  
}

.main-button-blur {
    width: 18%;
    padding: 1rem 3rem;
    margin: 0 5rem; 
    cursor: default; 
}

.register-button {
    width: 50%;
    padding: 1rem 3rem;
    margin: 0 2rem;  
}

.footer {
    grid-area: footer;
}

#registration-form, #login-form {
    display: none;
    text-align: center;
    position: absolute;
    top: 25%;
    right: 26vw;
    z-index: 999;
    background: linear-gradient(rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../src/img/film1.jpg);
    background-position: top center;
    background-attachment: fixed;
    color: black;
    padding: 1%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    width: 45vw;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
    padding-bottom: 3%;
    border-radius: 4px;
    font-size: 1vw;
}

.form-left {
    margin-left: 4%;
}

.form-right {
    margin-right: 4%;
}

#form-title {
    font-size: 2rem;
    text-align: center;
    color: white;
}

#close-register, #close-login {
    float: right;
    cursor: pointer;
}

#alert {
    text-align: center;
    color: white;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 1;
    font-size: 1vw;
}

input:invalid+span:after {
    content: '✖';
    font-size: 1vw;
    padding-left: 5px;
    color: rgb(250, 128, 114);
}

input:valid+span:after {
    content: '✓';
    font-size: 1vw;
    padding-left: 5px;
    color: green;
}